@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100vw;
}

@layer components {
  .no-arrows {
    -moz-appearance: textfield;
  }

  .no-arrows::-webkit-outer-spin-button,
  .no-arrows::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  .disable-select {
    -ms-expand: "display: none";
  }
}
