@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body,
html {
  width: 100vw;
}

@layer components {
  .no-arrows {
    -moz-appearance: textfield;
  }

  .no-arrows::-webkit-outer-spin-button,
  .no-arrows::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
